<div class="umb-panel" ng-controller="FilePickerDialogCtrl">
  <div class="umb-panel-body no-header with-footer compact">
    <umb-tree section="developer"
              treealias="files"
              customtreeparams="filter=*.svg"
              hideheader="true"
              hideoptions="true"
              eventhandler="dialogTreeEventHandler"
              isdialog="true">
    </umb-tree>
  </div>

  <div class="umb-panel-footer">
    <div class="umb-el-wrap umb-panel-buttons">
      <div class="btn-toolbar umb-btn-toolbar pull-right">
        <a href ng-click="close()" class="btn btn-link">
          <localize key="general_cancel">Cancel</localize>
        </a>

        <button class="btn btn-primary" ng-click="submit(target)">
          <localize key="buttons_select">Select</localize>
        </button>
      </div>
    </div>
  </div>
</div>
